body {
  color: white;
  font-size: 16px !important;
  --theme-color: rgb(255, 191, 15); /* this would break in IE */
}

/* SIDEBAR */

.sidebar ul li a {
  color: white;
}

.sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/* CODE */

.token.function {
  color: #ff9720;
}

.token.string {
  color: #fcfa99;
}

code {
  color: #b8c6c9 !important;
}

/* TABLE */

.markdown-section tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.1);
}

/* MISC */

strong,
em {
  color: inherit !important;
  font-weight: 1000 !important;
}

.label-role {
  padding: 0 0.2rem;
}

.label-role.claimer {
  color: #fff78b;
  background-color: #fffb0044;
}

.label-role.attester {
  color: #ffa7a7;
  background-color: #e0000062;
}

.label-role.verifier {
  color: #caaeff;
  background-color: #7125ff55;
}
