body {
  color: white;
  --theme-color: rgb(255, 191, 15); /* this would break in IE */
}

/* Sidebar */

.sidebar ul li a {
  color: white;
}

.sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/* Code */

.token.function {
  color: #ff9720;
}

.token.string {
  color: #fcfa99;
}

code {
  color: #b8c6c9 !important;
}

/* Table */

.markdown-section tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.1);
}